<div class="row banner banner-cpcc">
  <div class="container text-center">
    {% assign navItemsSize = page.navItems|size %}
    {% if navItemsSize > 1 %}
      <nav class="navbar navbar-inverse  banner-cpcc navbar-vertical-align" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 banner-middle">
              <!-- Seach Appliance -->
              <div class="input-group">
                <input type="text" class="form-control input-md" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-md" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </div><!-- .ol-xs-8.banner-middle -->
          </span><!-- .visible-xs -->
        </div><!-- .navbar-header -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav cpcc-main-nav">
            {% for item in page.navItems %}
            <li><a href="#">{{ item }}</a></li>
            {% endfor %}
          </ul> 
        </div><!-- /.navbar-collapse -->
      </nav>
  {% else %}
  <h1>{{ page.navItems }}</h1>
  {% endif %}
</div>
</div><!-- /.row.banner.banner-cpcc -->
