<!-- MODAL ONE -->
<div class="modal fade" id="6304Modal" tabindex="-1" role="dialog" aria-labelledby="6304ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact <?php echo $campus ?> Deptartment One</h4>
      </div>
      <div class="modal-body">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Name">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Email">
        <textarea class="form-control" rows="5" placeholder="How may we help you?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL TWO -->
<div class="modal fade" id="6772Modal" tabindex="-1" role="dialog" aria-labelledby="6772ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact <?php echo $campus ?> Deptartment Two</h4>
      </div>
      <div class="modal-body">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Name">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Email">
        <textarea class="form-control" rows="5" placeholder="How may we help you?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL THREE -->

<div class="modal fade" id="ASModal" tabindex="-1" role="dialog" aria-labelledby="ASModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contact <?php echo $campus ?> Deptartment Three</h4>
      </div>
      <div class="modal-body">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Name">
        <input class="form-control input-lg bmargin25" type="text" placeholder="Your Email">
        <textarea class="form-control" rows="5" placeholder="How may we help you?"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
