<div class="col-sm-3 sidenav">
  <div class="sidebar-nav sidebar-content">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header center-text">
        <h3 class="visible-xs">Sidebar Menu</h3>
        <!-- Seach Appliance -->
        <div class="input-group lg-only bmargin25">
          <input type="text" class="form-control input-lg" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default btn-lg" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.navbar-header -->
      <div class="panel-group" id="sb-accordion">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseOne">
            <div class="panel-heading">
              <h4 class="panel-title">Section 1</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseOne" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseOne -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseTwo">
            <div class="panel-heading">
              <h4 class="panel-title">Section 2</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseTwo" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseTwo -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseThree">
            <div class="panel-heading">
              <h4 class="panel-title">Section 3</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseThree" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseThree -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseFour">
            <div class="panel-heading">
              <h4 class="panel-title">Section 4</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseFour" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseFour -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseFive">
            <div class="panel-heading">
              <h4 class="panel-title">Section 5</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseFive" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseFive -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseSix">
            <div class="panel-heading">
              <h4 class="panel-title">Section 6</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseSix" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseSix -->
        </div><!-- /.panel.panel-default -->
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#sb-accordion" href="#sb-collapseSeven">
            <div class="panel-heading">
              <h4 class="panel-title">Section 7</h4>
            </div><!-- /.panel-heading -->
          </a>
          <div id="sb-collapseSeven" class="panel-collapse collapse">
            <div class="list-group">
              <a href="#" class="list-group-item">Subsection 1</a>
              <a href="#" class="list-group-item">Subsection 2</a>
              <a href="#" class="list-group-item">Subsection 3</a>
            </div><!-- /.list-group -->
          </div><!-- /#sb-collapseSeven -->
        </div><!-- /.panel.panel-default -->
      </div><!-- /#sb-accordion -->
    </div><!-- /.navbar.navbar-default -->
  </div><!--/.sidebar-nav.sidebar-content -->
</div><!-- /.col-sm-3.sidenav -->
