@charset "UTF-8";
/* CSS Document */

/* Resets */
input, select, textarea { 
    margin:0; 
    padding:0; 
    font-size:0.85em; 
    outline:none; 
    font-family:inherit; 
    box-sizing:border-box; 
}


/* /resets */

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url(https://github1-central.cpcc.edu/pages/webdev/ui.vendor/assets/fonts/glyphicons-halflings-regular.eot);
  src: url(https://github1-central.cpcc.edu/pages/webdev/ui.vendor/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(https://github1-central.cpcc.edu/pages/webdev/ui.vendor/assets/fonts/glyphicons-halflings-regular.woff) format('woff'), url(https://github1-central.cpcc.edu/pages/webdev/ui.vendor/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(https://github1-central.cpcc.edu/pages/webdev/ui.vendor/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}


html {
	height:100%;
}

body {
	background: #FBF7F4;
	min-height:100%;
	padding-bottom:175px;
	padding-top:115px;
	font-size: 16px;

}

body.logo {
	padding-top:180px;
}



.navwrap {
	z-index: 10;
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
}

/* preformatted text styles - mostly for code examples */
.tag {
    color: #00ff00;
}

.atn {
    color: #62B1F6;
}

.sg-source pre {
    background: none repeat scroll 0 0 #000;
    }

/* form styles */
form input, form select, form textarea {
	width: 100%;
	min-height:40px;
	margin:2px auto 5px auto;
	font: 1em Helvetica, Arial, serif;
	padding: 5px;
}

form input {
	padding: 0 10px;
}

.phone input {
	width:69px;
}

form label {
	margin-top:10px;
	width:100%;
}

.required {
	color:#990000;
}

form select {
	height:40px;
	margin: 2px 1px 5px 1px;
	max-width:99%;
	padding-top:10px;
}

form select option {
	line-height:40px;
	width:100%;
	padding:5px auto;
}

form button {
	max-width:100%;
	min-width: 150px;
	height:40px;
}

form input[type="button"], input[type="submit"], input[type="reset"] { 
    height:40px; 
    min-width:150px;
    max-width:300px;
}

form input[type="color"] {
	width:50px;
	height:50px;
	padding:0;
}

form input[type="number"] {
	max-width:300px;
}

form input[type="radio"], form input[type="checkbox"] {
	float: left;
	width: 20px;
	margin-right:5px;
	margin-top:0px;
}

form label input[type="radio"], form label input[type="checkbox"] {
	margin-top: 0px;
	min-height:20px;
}

form label[for="rad"], form label[for="checkbox"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"]  {
	max-width:280px;
	margin-top:0px;
}

form fieldset div {
	clear:both;
	margin: 5px auto;
}

form.sg-nav {
  margin:10px 0;
}

form.sg-nav select {
	height:25px;
	color:#000;
}



/* / form styles */

/* -------------------------------------------------------------------------
 Alerts
---------------------------------------------------------------------------- */
/**
 * Alert styles. Your patterns/styles will vary. 
 * You should link your main stylesheet up with Style Guide Boilerplate for 
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.alert {
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #990000;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #007550;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #0A3E74;
}

/* /alert styles */

/* -------------------------------------------------------------------------
 Breadcrumbs
---------------------------------------------------------------------------- */
/**
 * Breadcrumb styles for first pattern. Your patterns/styles will vary. 
 * You should link your main stylesheet up with Style Guide Boilerplate for 
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.breadcrumb {
   background-color: transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}

.breadcrumb li a {
  color: #1D88EA;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #62B1F6;
}

.breadcrumb li .divider {  
  color: #aaa;
  padding: 0 5px;
}

.breadcrumb .active {
  color: #555;
}

.breadcrumb > li + li:before {
    content: "> ";
    padding: 0px 5px;
    color: #CCC;
}

/* /breadcrumb styles */

/*Responsive iframe classes*/
.media-container {
	margin-top:25px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.media-container iframe,  
.media-container object,  
.media-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Typographic Styles */

a {
	color: #1D88EA;
}

a:focus, a:hover {
	color:#62B1F6;
}

table {
	width:100%;
}

th, td {
	min-height:35px;
	padding:5px;
}

.main-content h1 {
	margin-top:0;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-size: 14px;
}

h1, .h1 {
	font-size:34px;
}

h3, .h3 {
	font-size: 21px;
}

.main-content>h1 {
	margin-bottom:0px;
}

h3.subtitle {
	margin-top:5px;
}

p {
	margin: 0 0 15px;
	line-height: 1.8em;
}

dt {
	margin-top: 10px;
}

ol, ul, dd {
	padding-left:25px;
}

.ribbon {
	background-color: #000;
	background-image:none;
	color: #fff;
	border-color: #000;
	border-radius: 0px;
	font-size:.6125em;
	letter-spacing:1px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #eee;
} 

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar-brand.mark {
	padding: 8px;
}

.mark img {
	max-height: 35px;
}


/*.ribbon .navbar-brand {
	padding:10px;
}

.ribbon .navbar-nav>li>a, .ribbon .navbar-collapse {
padding-top: 10px;
padding-bottom: 10px;
}
*/

.cpcc-header {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 24px;
	text-align: left;
	background: #FBF7F4;

}

.cpcc-header h1 {
	margin-top: 10px;
	margin-bottom: 0px;
}

.visible-xs h3 {
	text-align:center;
	line-height: 12px;
}

.banner {
	min-height:40px;
	z-index:15;
}

.banner .visible-xs h3 {
	margin-left:75px;
}

ul.cpcc-main-nav {
	width:100%;
	font-size:.83em;

}

ul.cpcc-main-nav li {
	width:20%;

}

ul.cpcc-main-nav li a {
	color:#fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	letter-spacing: 1px;
	display:block;
  
}

div#navbar-collapse-2.navbar-collapse {
	padding-left:0px;
	padding-right:0px;
}



.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse.ribbon .navbar-nav>li>a:hover {
	background-color: #232323;
}

.navbar-inverse .navbar-nav.cpcc-main-nav>li>a:hover {
	text-decoration: none;
	background-color: #007551;
}

.navbar-header .navbar-nav>li>a:hover {
	text-decoration: none;
	background-color: #222;
}


.banner-lg {
	min-height:80px;
	
}

.banner-cpcc button, .banner-cpcc a.btn {
	margin-top:10px;
}

.banner-cpcc .container {
	padding-left:0px;
	padding-right:0px;
}

.banner-cpcc {
	border:none;
	border-radius:0px;
}

.navbar-inverse .navbar-toggle, .btn-default {
	border-color: #888;
}


.banner-cpcc, .banner-cpcc .container .navbar .navbar-header .navbar-toggle, button#navigator {
	color:#fff;
	
	background: #007550; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	
	background: -moz-linear-gradient(top,  #007550 0%, #004D34 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007550), color-stop(100%,#004D34)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #007550 0%,#004D34 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #007550 0%,#004D34 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #007550 0%,#004D34 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #007550 0%,#004D34 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007550', endColorstr='#ff004D34',GradientType=0 ); /* IE6-8 */
}

.banner-cpcc form select {
	color: #999;
}

.tetrad-blue-gradient, .btn-primary, th {
	color:#fff;
	background: #0A3E74; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	
	background: -moz-linear-gradient(top,  #0A3E74 0%, #03274C 100%); /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0A3E74), color-stop(100%,#03274C)); /* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top,  #0A3E74 0%,#03274C 100%); /* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top,  #0A3E74 0%,#03274C 100%); /* Opera 11.10+ */
	
	background: -ms-linear-gradient(top,  #0A3E74 0%,#03274C 100%); /* IE10+ */
	
	background: linear-gradient(to bottom,  #0A3E74 0%,#03274C 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0A3E74', endColorstr='#ff03274C',GradientType=0 ); /* IE6-8 */
}

.banner h1 {
	color: #fff;
	font-size: 21px;
	margin: 15px auto;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	letter-spacing: 1px;
}

.banner-lg h1 {
	color:#fff;
	font-size: 24px;
	margin: 30px auto;
}

/* Application Layout and Style Selectors */

.page {
	position:fixed;
	bottom:0;
	top:0;
	left:50%;
	padding-left: 0px;
	padding-right: 0px;
}

.main {
	background:#fff;
	box-shadow: 5px 3px 9px -2px #BBBBBb, -5px 3px 9px -2px #bbbbbb;
	height:100%;
	position:relative;
	left:-50%;	
	width:100%;
	
}

.nav-btn-lft, .nav-btn-rt {
	min-width:40px;
	position:relative;
	z-index:2;
}

.nav-header {
	position:relative;
	z-index:1;
}



.container.inner {
	position:relative;
	padding-top: 25px;
	z-index: 5;
	
}

.container.inner.sidebar-nosearch {
	padding-top:0px;
	top: -14px;
}

.container.inner.sidebar-nosearch h1 {
	margin-top:20px;
	
}

.sidebar-content h3.visible-xs {
	margin-left: 15px;
}

.sidebar-content {
	padding-left: 0px;
	
}

.sidebar-content .navbar-header {
	float:none;
}

.sidebar-content .form-control {
	border-color: #CDAF95;
}

.sidebar-content .btn-default {
	background:#CDAF95;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top,#fff 0,#CDAF95 100%);
	background: linear-gradient(to bottom,#fff 0,#CDAF95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffCDAF95', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	text-shadow: 0 1px 0 #fff;
	border-color: #CDAF95;
	color: #362819;
}

.sidebar-content .btn-default:hover, .sidebar-content .btn-default:focus {
	background:#CDAF95;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top,#CDAF95 0,#ffffff 100%);
	background: linear-gradient(to bottom,#CDAF95 0,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffCDAF95', endColorstr='#ffffffff', GradientType=0);
	background-repeat: repeat-x;
	color:#007551;
}


.form-control:focus, .btn-default:focus, .form-control:hover, .btn-default:hover, .form-control:active, .btn-default:active {
	border-color: #2A9E7B;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(2,77,54,.6);
}

.sidebar-content .panel {
	border-left: 0px;
	background-color:transparent;
}

.sidebar-content .panel-default {
	border-color: #CDAF95;
	border-right: 0px;
}

.sidebar-content .panel-group {
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
}

.sidebar-content .panel-group .panel+.panel {
	margin-top: 0px;
}

.sidebar-content a.list-group-item:hover, a.list-group-item:focus {
	color: #007551;
}

.sidebar-content .panel-group .panel {
	border-radius: 0px;
}



.sidebar-content .list-group {
	background:#FBF7F4;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);	
	background: -webkit-linear-gradient(-240deg, #ffffff 45%, #FBF7F4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-60deg, #ffffff 45%, #FBF7F4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-60deg, #ffffff 45%, #FBF7F4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #ffffff 45%, #FBF7F4); /* Standard syntax (must be last) */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffFBF7F4', GradientType=0);
	border-right: 1px solid #CDAF95;
}

.sidebar-content .list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.sidebar-content a.list-group-item:hover, a.list-group-item:focus {
	text-decoration: none;
	background-color: #FBF7F4;
}

.sidebar-content .list-group-item {
	border: none;
	border-top: 1px solid #CDAF95;
	background-color: transparent;
}

.sidebar-content a.list-group-item {	
	color: #362819;
}

.panel-default>a:hover, .panel-default>a:focus {
	text-decoration: none;
}

.panel-default>a:hover>.panel-heading>h4, .panel-default>a:focus>.panel-heading>h4 {
	color: #007550;
}

.panel-default>a>.panel-heading {
	color: #333;
	border-color: #ddd;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	background-repeat: repeat-x;
}

.main-content .panel-group {
		margin-top:10px;
	}

.sidebar-content .panel-heading {
	padding: 15px 15px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.sidebar-content .panel-default>a>.panel-heading {
	background-image: none;
	background-color:transparent !important;
	border-color: #FBF7F4;
	color: #362819;
}

.sidebar {
	border-right: 1px solid #CDAF95;
	height:100%;
	background:#FBF7F4;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* Standard syntax (must be last) */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFBF7F4', endColorstr='#ffCDAF95', GradientType=1);
}

.table>thead>tr>th {
	border-bottom: 2px solid #0A3E74;
}

.list-group {
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0px;
}

.list-group-item {
	border: none;
	border-top: 1px solid #ddd;
	font-size: .85em;
}

.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:110%;
	z-index:15;
}

/* HELPER CLASSES */

.bmargin25 {
	margin-bottom: 25px;
}

.lpad0 {
	padding-left:0px;
}

.rpad0 {
	padding-right:0px;
}

/* Fix Google Maps canvas
 *
 * Wrap your Google Maps embed in a `.google-map-canvas` to reset Bootstrap's
 * global `box-sizing` changes. You may optionally need to reset the `max-width`
 * on images in case you've applied that anywhere else. (That shouldn't be as
 * necessary with Bootstrap 3 though as that behavior is relegated to the
 * `.img-responsive` class.)
 */

.google-map-canvas,
.google-map-canvas * { box-sizing: content-box;}


@media (min-width: 768px) {
	
	.sidebar-content .navbar-default, .navbar-collapse {
		background:transparent;
		border:0;
		box-shadow:none;
	}
  .sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
  }
  
}

@media (max-width: 767px) {
	
	body {
		background: #FBF7F4;
	}
	
	.main-content {
		margin-left:15px;
		margin-right:15px;
		z-index:5;  /* for jquery UI display */
	}
	
	.navbar-header .navbar-brand.mark {
		margin-left: 25px;
	}
	
	.navbar-header .navbar-brand.text {
		margin-left:10px;	
	}
	
	.navbar-header .navbar-toggle {
		margin-right: 25px;
	}
	
	.nav>li {
		text-align: center;
		font-size: 18px;
	}
	
	.navbar-nav {
		margin: 0; 
	}
	
	.nav-btn-lft  {
		margin-left:32px;
	}
	
	.nav-btn-rt  {
		margin-right:32px;
	}
	
	button#navigator {
		margin-left: 15px;
		font-size:14px;
	}
	
	ul.cpcc-main-nav li {
		width: 100%;
	}

	.banner-cpcc .input-group button {
		margin-top: 0px;
	}
	
	.banner-cpcc .input-group {
		margin-top: 10px;
		padding:0 5px;
	}
	
	.sidebar-content .navbar-default, .sidebar-content .navbar-collapse {
		background:#FBF7F4;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzU1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -webkit-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* For Firefox 3.6 to 15 */
		background: linear-gradient(-240deg, #FBF7F4 45%, #CDAF95); /* Standard syntax (must be last) */
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFBF7F4', endColorstr='#ffCDAF95', GradientType=0);
		border:1px solid #CDAF95;
		box-shadow:none;
		padding: 0;
		border-radius: 0px;
	}
	
	/*.container.inner.sidebar1 {
		padding-top: 15px;
	}*/
	
	
	.sidebar-nav .navbar-header .navbar-toggle {
		margin-right: 5px;
	}
		
	.sidebar-content .panel-default {
		padding: 0 0 0 15px;
	}

	.sidebar-content .panel-group {
		margin-right: 0px; */
	}

	.sidebar-content .list-group {
		margin-right: -15px;
		border-right:0px;
	}

	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	
	.page, .main {
		display:none;
	}
	
	.lg-only {
		display:none;
	}
	
	.visible-xs .input-group {
		
	}
	
	.banner h1 {
		font-size:21px;
	}
	
	.row.xs-nav {
		margin-right:0px;
		margin-left:0px;
	}
	
	.sidenav {
		position: fixed;
		top: 104px;
		bottom:0px;
		padding:0;
		z-index: 8;
		right:100%;
		margin-left: 15px;
		overflow: scroll;
		padding-bottom: 80px;
	}
	
	.logo .sidenav {
		top:173px;	
	}
	
		
	.sidenav.on {    		
		width:100%;
		right:0%;  			
		-webkit-transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		transition: all .5s ease 0s;
	}	
	
    .rotate {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
		-webkit-transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		transition: all .5s ease 0s;
	}

	.sidenav.off {    		
		width:100%;
		right:100%;  			
		-webkit-transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		transition: all .5s ease 0s;
	}	

	.rotate-back {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all .5s ease 0s;
		-moz-transition: all .5s ease 0s;
		-o-transition: all .5s ease 0s;
		transition: all .5s ease 0s;
	}

	form input[type="button"], input[type="submit"], input[type="reset"], button { 
    	max-width:100%;
	}

	form.sg-nav select {
		max-width: 80%;
	}
	
	
}

@media (max-width:479px) {

	body {
		font-size:13px;
	}

	.banner h1, .visible-xs h3 {
		font-size: 15px;
	}

	.nav-header {
		padding-left:45px;
		padding-right:45px;
	}

	.banner-middle {
		width:63%;
	}

	.banner-middle .input-group {
		padding-left:20px;
	}


}

