---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>

  <!-- Bootstrap -->
  <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ site.baseurl }}/assets/css/cp-custom.min.css" rel="stylesheet">

  <script async type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="{% if page.logo %} logo {% endif %}">
  <div class="container page">
    <div class="main">
      <div class="col-sm-3 {% if page.sidebar %} sidebar {% endif %}">
      </div>
   </div>
  </div><!-- /.container.page -->

  {% if page.logo %} 
    {% include ribbon-header-nav-logo.html %}
  {% else %}
    {% include ribbon-header-nav.html %}
  {% endif %}

  <div class="row row-main">
    <div class="container inner">

  {% if page.sidebar %} 
    <div class="row">
      {% include sidebar.html %}
      <div class="col-sm-9 main-content">
          {{ content }}
      </div><!-- /.main-content -->
    </div><!-- /.row -->
  {% else %}
      <div class="main-content">
        {{ content }}
      </div><!-- /.main-content -->
  {% endif %}

    </div><!-- /.container.inner -->
  </div><!-- /.row -->

  {% include footer.html %}

</body>
</html>
